<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Inventario?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">password12</property>
    <property name= "hibernate.hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    
<!--    <mapping resource="Models/TypeInventory.hbm.xml"/>
    <mapping resource="Models/Article.hbm.xml"/>-->
    <mapping class="Models.Article"/>
    <mapping class="Models.TypeInventory"/>
    <mapping class="Models.Transaction"/>
    <mapping class="Models.TransactionType"/>
<!--    <mapping resource="Models/Transaction.hbm.xml"/>-->
    <mapping resource="Models/Warehouse.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
